   h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.15s;
    transition: text-shadow 0.15s;
  }

  hr {
    height: 10px;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.15s;
  }

  hr:hover {
    background-color: red;
  }

  h1:hover {
    color: red;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15);
  }

  button {
    background-color: rgb(179, 50, 50);
    height: 48px;
    width: 105px;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.15s;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    opacity: 0.4;
  }